<header class='top_page_header'>
  <div class= "header_title"> 
    <%= link_to "Inventory control α", root_path, class: "title" %>
  </div>
  <div class='nav'>
    <ul class='header_right'>
      <li><%= link_to 'ログイン', root_path, class: "login" %></li>
    </ul>
  <div class = "openbtn">
    <span></span><span></span><span></span>
  </div>
  </div>
</header>